@charset "UTF-8";
/* Fonts*/

@font-face {
  font-family: 'WeblySleekUILight';
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuil.eot');
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuil.eot?#iefix') format('embedded-opentype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuil.woff') format('woff'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuil.ttf') format('truetype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuil.svg#WeblySleekUILight') format('svg');
}



@font-face {
  font-family: 'WeblySleekUILight-Italic';
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuili.eot');
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuili.eot?#iefix') format('embedded-opentype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuili.woff') format('woff'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuili.ttf') format('truetype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuili.svg#WeblySleekUILight-Italic') format('svg');
}


@font-face {
  font-family: 'WeblySleekUISemilight';
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuisl.eot');
  src: url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuisl.eot?#iefix') format('embedded-opentype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuisl.woff') format('woff'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuisl.ttf') format('truetype'),
       url('https://rawgit.com/sebarbour/was/master/font/WeblySleek/weblysleekuisl.svg#WeblySleekUISemilight') format('svg');
}
.standard{
	max-width: 750px;
	padding: 0px 20px 0px 20px;
	margin: 20px 5px 10px 0px;
	font-family: 'WeblySleekUILight',sans-serif;
	letter-spacing:0.1em;
	color: #000000;
}
h1.standard{
	float:left;
	text-indent: 0px;
	font-size:3.9em;
	font-weight:500;
}
h2.standard{
	float:left;
	text-indent: 0px;
	font-size:2.8em;
	font-weight:500;
}
h3.standard{
	font-size: 2.0em;
	font-weight:600;
}
h4.standard{
	font-size: 1.5em;
	font-weight:600;
}
table.small{
	width: 45%;
}
table.medium{
	width: 75%;
}
.flex{
	height: 100%;
	margin: auto;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px 10px 10px 10px;
}
.containerMultiTable{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-item: center;
	-moz-align-item: center;
	align-item: center;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px 0px 10px 0px;
	width: 100%;
	height: auto;
}
div.menutable{
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
	margin: -5px 0px 0px 20px;
}
.videoContainer{
	width: 100%;
	margin: auto;
	display: inline-block;
}
.panopto{
	width: 100%; 
	height: 100%;
	display: block;
}
table.er{
	width: 65%;
	height: auto;
	}
table.br{
	width: 30%;
	height: auto;
}
table.mr{
	width: 47%;
	height: auto;
}
table.zr{
	width: 100%;
	height: auto;
}
table.br td, table.br th, table.er td, table.er th, table.mr td, table.mr th, table.zr td, table.zr th{
	font-size: 1.5em;
}
table caption{
	font-size: 2em;
}
div.flex{
	width: 50%;
}
button.scenarios{
	width: 30%;
	height: 80px;
	color: #fff;
}
button.reset{
	width: 90%;
	height: 40px;
	color: #fff;
}
button.scenarios:focus, button.reset:focus{
	color: #fff;
	background-color: rgb(196,90,18);
}
td.onChange{
	background-color: rgb(196,90,18);
	color: #fff;
}
td.onAddition{
	background-color: rgb(255,204,0);
	color: #000;
}
body.full{
	width: 100%;
	max-width: 100%;
}
body.full p, body.full h1, body.full h2, body.full h3{
	width: 96%;
	max-width: 96%;
}
body.fullfont{
	font-size: 100% !important;
}
.containerFull{
	width:98%;
}
@media only screen and (min-width:769px) and (max-width: 832px){
	table.br td, table.br th, table.er td, table.er th, table.mr td, table.mr th, table.zr td, table.zr th{
	font-size: 1.3em;
}
	ul.adjusted li{
	min-height: 60px;
	height: 60px;
	}
	ul.adjusted li a{
	min-height: 60px;
	height: 60px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 770px){
	table.br td, table.br th, table.er td, table.er th, table.mr td, table.mr th, table.zr td, table.zr th{
	font-size: 1.1em;
	
}
.containerMultiTable{
	display:inline-block;
}
table.br, table.er, table.mr, table.zr{
	width: 100%;
}
	h3, h4{
	font-size: 1em;
}
}
@media only screen and (min-width: 396px) and (max-width: 600px){
	table.br td, table.br th, table.er td, table.er th, table.mr td, table.mr th, table.zr td, table.zr th{
	font-size: 0.6em;
	
}
.containerMultiTable{
	display:inline-block;
}
table.br, table.er, table.mr, table.zr{
	width: 100%;
}
}
#skizze:hover{
	cursor: zoom-in;
}
.vcenter {
    display: flex;
    align-items: center;
}
.container{
	width: 100% !important;
}
.center{
	margin: auto;
}
button.lower-nav{
	background: rgba(59,95,138,0.2);
	/*font-size: 2em;*/
}
button.lower-nav:hover{
	background: rgba(59,95,138,1);
}
.hidden{
	display:none;
}
.nav-tabs > li > a, .nav-pills > li > a{
	background:#d8e4f0;
	color: #000 !important;
}
ul.naked li:before{
	display: none;
}
ul.naked li{
	font-family: 'WeblySleekUILight',sans-serif !important;
	font-size: 1.2em !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
	background: rgba(59,95,138,1) !important;
	color: #fff !important;
}
.nav-tabs > li > a:focus, .nav-pills > li > a:focus{
	background: rgba(59,95,138,1) !important;
	color: #fff !important;
}
iframe.fullwidth{
	width: 100%;
	height: 1000px;
}
div.main{
	min-height:500px;
}
ul.WOstyle li:before{
	background-image: url("https://rawgit.com/sebarbour/was/master/images/bulletpoint_wo.png");
}
ul.WOstyle{
	list-style-position: outside !important;
}
.clearfloat{
	clear: both;
}
.floatleft{
	float: left;
	margin: 5px 5px 5px 0px;
}
ol{
	margin: 20px 0px 20px;
	margin-left: 28px;
	list-style-type: decimal;
	list-style-position: outside !important;
}
/*ol li:before{
	content:'  ';
	display:inline-block;
	width:28px;
	height:20px;
	background-size: 0.4em;
	padding-top:3px;
	background-position: 10% 80%;
}*/
ol.upperroman{
	margin: 20px 0px 20px;
	margin-left: 28px;
	list-style-type: upper-roman;
}
ol.lowerroman{
	margin: 20px 0px 20px;
	margin-left: 28px;
	list-style-type: lower-roman;
}
ol.upperlatin{
	margin: 20px 0px 20px;
	margin-left: 28px;
	list-style-type: upper-latin;
}
ol.lowerlatin{
	margin: 20px 0px 20px;
	margin-left: 28px;
	padding-left: 28px;
	list-style-type: lower-latin;
}
table.WOstyle th{
	background: rgba(59,95,138,1) !important;
	color: #fff;
}
.division{
	border-top-style: solid;
	border-width: medium;
	border-color: #000;
}
element.style {
    	background-color: rgba(59,95,138,1) !important;
}	
.square{
	border: 1px solid #000;
	box-sizing: border-box;
	box-shadow: 10px 10px 5px #000;
}
.blue{
	background-color: #d8e4f0 !important;
}
.blue:hover{
	background-color: rgba(59,95,138,1) !important;
	color: #fff;
}
p.arrow{
	font-size: 7em;
}
.lernziele{
	border-top: solid 1px rgba(59,95,138,1);
	border-bottom: solid 1px rgba(59,95,138,1);
	margin-top: 20px;
	margin-bottom: 10px;
	box-sizing: border-box;
	box-shadow: 10px 10px 5px rgba(59,95,138,1);
	padding-bottom: 5px;
}
